body {
    padding: 1em;
    font-family: "Lucida Console", Monaco, monospace;
}

button {
    border: 3px solid rgb(86, 84, 84);
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.1em;
    color: darkslategray;
    background: #C5979D;
}

.remove-filter {
    color: darkslategray;
    background: whitesmoke;
}

/* .Java {
    background: lightsalmon;
} */

.Web {
    color: whitesmoke;
    background: #2C365E;
}

.Mobile {
    color: whitesmoke;
    background: #4B8F8C;
}

.Desktop {
    color: whitesmoke;
    background: #2B193D;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0.5em;
}

.description {
    overflow-wrap: break-word;
    /* white-space: pre; */
}